:root {
    --md-send-submission: #05149c;
}

/* Make table formating more compact */
:root .md-typeset table:not([class]) td {
    min-width: unset;
    padding: 0.8em 1em;
}

:root .md-typeset table:not([class]) th {
    min-width: unset;
}

/**
 * Styling for one-dimensional tables 
 * usage example:
 *
 * <div class="oneline-table" markdown>
 * | 1 | 4 | 5 | 9 | 12 | 18 | 20 | 21 | 27 | 32 | 35 | 48 | 49 | 51 | 54 |
 * |:-:|:-:|:-:|:-:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|
 * </div>
 */
.oneline-table th,
td {
    border-right: 0.05rem solid var(--md-typeset-table-color);
}

.oneline-table tbody {
    display: none;
}

/**
 * color invert & overriding color invert
 * to not invert a specific image:
 * ![image](gasienica1.png){class="no-invert"}
 */

body[data-md-color-scheme="slate"] .md-typeset img {
    filter: invert(1) brightness(1.4);
}

body[data-md-color-scheme="slate"] .md-typeset img.no-invert {
    filter: none;
}

/* smaller line-height */
.md-typeset {
    line-height: 1.45;
}

/* Move sidebar to the right */
.md-sidebar--primary {
    order: 2;
}

/* Less margin around code blocks */
.md-typeset code:not(.focus-visible) {
    margin-top: -0.5em;
    margin-bottom: -0.5em;
}

/* Zoom out text overall (~90% original size) */
.md-typeset {
    font-size: 0.71rem;
}

/* Bigger header bar logo */
.md-header__button.md-logo {
    padding: 0;
}

.md-header__button.md-logo img {
    height: 1.8rem;
}

/* Monospace tables (adapted from styling of `.md-typeset code`)*/
.md-typeset table:not([class]) {
    font-family: var(--md-code-font-family);
    font-feature-settings: "kern";
    font-variant-ligatures: none;
}

/* Darker background + other color tweaks */
:root,
[data-md-color-scheme="default"] {
    --md-default-bg-color: #fafafa;
}

body[data-md-color-primary="blue"] {
    --md-primary-fg-color: #0000008a !important;
}

.md-header {
    background-color: #777;
}
